<launch>
  <arg name="publish_frame" default="false" />
  <arg name="fps" default="-1" />
  <arg name="scale" default="raw" />
  <arg name="calib_path" default="$(find kinect2_bridge)/data/" />
  <arg name="depth_proc_pipeline" default="cpu" />
  <arg name="depth_reg" default="false" />
  <arg name="depth_reg_pipeline" default="cpu" />
  <arg name="depth_reg_cl_source" default="$(find kinect2_depth_registration)/cl/depth_registration.cl" />

  <include file="$(find kinect2_bridge)/launch/include/kinect2_frames.launch">
    <arg name="publish_frame" value="$(arg publish_frame)" />
  </include>

  <group if="$(arg depth_reg)">
    <node name="kinect2_bridge" pkg="kinect2_bridge" type="kinect2_bridge"
          args="-fps $(arg fps) -scale $(arg scale) -calib $(arg calib_path) -depthProc $(arg depth_proc_pipeline) -depthReg $(arg depth_reg_pipeline) -clRegSource $(arg depth_reg_cl_source)"
          respawn="true"
          output="screen"/>

    <node pkg="nodelet" type="nodelet" name="kinect2_points_xyzrgb"
          args="standalone depth_image_proc/point_cloud_xyzrgb"
          respawn="false">
      <remap from="rgb/camera_info" to="/kinect2/rgb_scaled/camera_info" />
      <remap from="rgb/image_rect_color" to="/kinect2/rgb_scaled/image" />
      <remap from="depth_registered/image_rect" to="/kinect2/depth_scaled_registered/image" />
      <remap from="depth_registered/points" to="/kinect2/depth_scaled_registered/points" />
      <param name="queue_size" type="int" value="2" />
    </node>
  </group>

  <group unless="$(arg depth_reg)">
    <node name="kinect2_bridge" pkg="kinect2_bridge" type="kinect2_bridge"
          args="-fps $(arg fps) -scale $(arg scale) -calib $(arg calib_path) -depthProc $(arg depth_proc_pipeline) -clRegSource $(arg depth_reg_cl_source)"
          respawn="true"
          output="screen"/>

    <node pkg="nodelet" type="nodelet" name="kinect2_points_xyz"
          args="standalone depth_image_proc/point_cloud_xyz"
          respawn="false">
      <remap from="camera_info" to="/kinect2/depth_scaled/camera_info" />
      <remap from="image_rect" to="/kinect2/depth_scaled/image" />
      <remap from="points" to="/kinect2/depth_scaled/points" />
      <param name="queue_size" type="int" value="2" />
    </node>
  </group>
</launch>
